name: Pre-merge checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build and test (JDK ${{ matrix.jvm-version }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jvm-version: [8, 17]
    env:
      JDK_VERSION: ${{ matrix.jvm-version }}
      GRADLE_OPTS: -Dorg.gradle.daemon=false
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2 # set to a value > 1 to support codecov.io SHA detection

      - name: Clean Gradle caches
        shell: bash
        run: |
          rm -rf ~/.gradle/caches/ && rm -rf ~/.gradle/wrapper/

      - name: Cache Gradle folders
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-ubuntu-latest-${{ matrix.jvm-version }}-${{ hashFiles('settings.gradle') }}-${{ hashFiles('**/build.gradle') }}
          restore-keys: |
            cache-gradle-ubuntu-latest-${{ matrix.jvm-version }}-${{ hashFiles('settings.gradle') }}
            cache-gradle-ubuntu-latest-${{ matrix.jvm-version }}

      - name: Ensure all code files have license headers
        shell: bash
        run: |
          ./script/ensure_license_headers.sh

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jvm-version }}

      - name: Build and test
        shell: bash
        run: ./gradlew check codeCoverageReport --parallel

      - name: Upload coverage stats
        if: success() && matrix.os == 'ubuntu-latest' && matrix.jvm-version == '14'
        uses: codecov/codecov-action@v1

      # TODO: figure out snapshot uploads